.Chatscreen__Message {
    display: flex;
    align-items: center;
    padding: 20px;
}

.ChatScreen__Message {
    margin-left: 10px;
    background-color: #d3d3d3;
    padding: 15px;
    border-radius: 20px;
}

.ChatScreen__MessageUser {
    margin-left: auto;
    background-color: #29b3cd;
    padding: 15px;
    border-radius: 20px;
    color: #ffffff;
}

.Matched__timestamp {
    text-align: center;
    color: #808080;
}

.ChatScreen_Input {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d9d9d9;
}

.ChatScreen__Input__Field {
    flex: 1;
    padding: 10px;
    border: none;
}

.ChatScreen__Input__Button {
    border: none;
    margin-right: 20px;
    background-color: #ffffff;
    font-weight: bolder;
    color: #fe3d71;
}